
.p{
  margin-left: 8px;
}
.cableTrayData__main{
  position: relative;
  margin-top: 20px;
  width: 100%;
}
.td{
  position: relative;
  margin-right: 400px;
}
.cableTrayData__row{ 
  display: flex;
}
.validateButton{
  width: 100% !important;
  background-color: white; 
  color: #057AFC; 
  border: 1px solid #057AFC;
  font-size: 14px;
  padding: 5px 12px;
  border-radius: 4px;
}
.validateButton:hover {
  background-color: #057AFC;
  color: white;
}