input[list] {
  border: 2px solid gray;
  border-radius: 4px 4px 4px 4px;
  font-size: 13px;
  padding: 5px; 
  height: 30px;
  width: 250px;
}

.tot {
  width: 25ch;
}
.button {
  border: 2px solid gray;
  border-radius: 4px 4px 4px 4px;
  font-size: 13px;
  padding: 5px;
  height: 30px;
  width: 250px;
  text-align: left;
}
.delete__Button {
  background-color: white;
  border: none;
  position: relative;
  left: 8px;
}
.button .icon {
  float: right;
}


.inputSolar {
  display: block;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.3em 1em 0.3em 0.3em;
  width: 90%;
  max-width: 230px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 0.3em;
  position: relative;
  text-align: center;
}
.inputSolarQty {
  display: block;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.3em 1em 0.3em 0.3em;
  width: 70%;
  max-width: 230px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 0.3em;
  position: relative;
  text-align: center;
}
.editableQty {
  position: relative;
  padding-left: 30px !important;

}
/* 
*/

@media (min-width: 350px) {
  .inputSolar {
    width: 230px;
  }
  .inputSolarQty {
    width: 230px;
  }
  .editableQty {
    padding-left: 15px !important;
  }
  .rowMargin {
    margin-bottom: 2%;
  }
  .delete__Button {
    left: 220px;
  }
  
}

@media (min-width: 500px) {
  .inputSolar {
    width: 230px;
  }
  .inputSolarQty {
    width: 230px;
  }
  .editableQty {
    padding-left: 15px !important;
  }
  .rowMargin {
    margin-bottom: 2%;
  }
}
@media (min-width: 768px) {
  .inputSolar {
    width: 100%;
  }
  .inputSolarQty {
    width: 100%;
  }
  .editableQty {
    padding-left: 15px !important;
  }
  .rowMargin {
    margin-bottom: 2%;
  }
  .btn {
    padding: 5px 20px;
    width: 150px;
      
  }
  .delete__Button {
    left: 3px;
  }
}
@media (min-width: 992px) {
  .inputSolar {
    width: 100%;
  }
  .inputSolarQty {
    width: 100%;
  }
  .editableQty {
    padding-left: 15px !important;
  }
  .rowMargin {
    margin-bottom: 2%;
  }
  .btn {
    padding: 5px 20px;
    width: 220px;
      
  }
}
@media (min-width: 1200px) {
  .inputSolar {
    width: 100%;
  }
  .inputSolarQty {
    width: 100%;
  }
  .editableQty {
    padding-left: 15px !important;
  }
  .rowMargin {
    margin-bottom: 2%;
  }
  .btn {
    padding: 5px 20px;
    width: 230px;
      
  }
}

