table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 65%;
}

td, th {
  text-align: left;
  padding: 8px;
  /* width: 20ch; */  

}
.tot{
  width:28ch;
}
.rest{
  width:240px;
}
.firsttd{
  width: 400px;
}
.addCableButton{
  width: 100% !important;
}
.marginSet{
  margin-left: 0;
  margin-right: 0;
}
.rowMarginSet{
  margin-left: 0;
  margin-right: 0;
  padding-top: 1em;
}
