.navbar {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.54);
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 0.2s ease-in-out;
  background-color: #8ea2bd;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}
.navbar-nav .nav-link {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration-color: transparent;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  background-color: #ff0000;
}
.nav-link {
  padding: 1rem;
}

.logo {
  max-height: 50px;
  margin-right: 3rem;
}
#main {
  margin-top: 150px;
  background-color: #ffffff;
}
.active {
  background-color: #ff0000;
}
@media only screen and (max-width: 990px) {
  .navbar-nav {
    background-color: #000;
    padding: 20px;
  }
  .navbar-dark .navbar-toggler {
    border-radius: 50%;
    background-color: blue !important;
    color: #ffffff;
    border: none;
    outline: none;
  }
  .navbar-toggler {
    padding: 0.4rem;
    color: #ffffff;
  }
  .navbar-dark .navbar-nav .active > .nav-link,
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link.show,
  .navbar-dark .navbar-nav .show > .nav-link {
    background-color: transparent;
  }
}
