body {
  background-size: cover;
  background-repeat: repeat !important;
  background-position: left top !important;
  font-family: "Raleway", sans-serif !important;
  background-color: #8ea2bd;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "GothamBold";
  src: local("GothamBold"), url(./GothamBold.ttf) format("ttf");
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
